@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  max-width: 80%;
  width: 100%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30px;
  z-index: 90;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575px) {
  header {
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    top: 0;
    background-color: #000;
    padding: 15px 0;
  }
  header .nav {
    display: none;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 120px;
  }
  header .logo img {
    width: 100%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  padding: 10px 20px;
}

.nav__item__link {
  color: #fff;
  padding: 10px 5px;
}

.nav__item__link:hover {
  border-bottom: 2px solid #fff;
}

.first__photo__slider {
  height: 85vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .first__photo__slider {
    height: 45vh;
  }
}

@media (max-width: 575px) {
  .first__photo__slider {
    height: 30vh;
  }
}

.first__photo__slider__item img {
  width: 100%;
}

.second {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 0.1fr 0.1fr (1fr)[2] min-content;
      grid-template-rows: 0.1fr 0.1fr repeat(2, 1fr) -webkit-min-content;
      grid-template-rows: 0.1fr 0.1fr repeat(2, 1fr) min-content;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  row-gap: 10px;
  height: 100%;
}

@media (max-width: 768px) {
  .second {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .second {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.second__title {
  -ms-grid-row: 1;
  grid-area: 1/ span 3;
  text-align: center;
}

@media (max-width: 768px) {
  .second__title {
    -ms-grid-row: 1;
    grid-area: 1/ span 2;
  }
}

@media (max-width: 575px) {
  .second__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/ 1;
  }
}

.second__subtitle {
  -ms-grid-row: 2;
  grid-area: 2/ span 3;
  text-align: center;
}

@media (max-width: 768px) {
  .second__subtitle {
    -ms-grid-row: 2;
    grid-area: 2/ span 2;
  }
}

@media (max-width: 575px) {
  .second__subtitle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2/ 1;
  }
}

.second__items {
  text-align: center;
}

.second__info {
  grid-column: span 3;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .second__info {
    grid-column: span 2;
  }
}

@media (max-width: 575px) {
  .second__info {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.third {
  background: url(../images/img2.jpg);
  padding: 150px 0;
  text-align: center;
}

.third h2 {
  color: #fff;
}

.third button {
  color: #ffffff;
  background: #fe7702;
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .third button {
    font-size: 12px;
    padding: 6px 15px;
  }
}

@media (max-width: 480px) {
  .third {
    padding: 60px 10px;
  }
}

.fourth {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: url(../images/img1.jpg);
}

@media (max-width: 768px) {
  .fourth {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 575px) {
  .fourth {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.fourth p {
  line-height: 2;
}

.fifth {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  background: url(../images/testibg.jpg);
}

.fifth h2 {
  margin-bottom: 40px;
}

.fifth__recomend__slider {
  margin: 0 auto;
  max-width: 540px;
}

footer {
  background-color: #141519;
  text-align: center;
  padding: 20px 0 40px;
  color: #fff;
}

footer h3 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
}

footer p a {
  color: #fff;
  text-decoration: underline;
}

.call__button {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 42px;
  height: 42px;
}

.call__button img {
  width: 100%;
}

.toTop {
  position: fixed;
  bottom: -40px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #fe7702;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toTop svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.toTop svg path {
  fill: #fff;
}

body .view {
  bottom: 10px;
}

.burger {
  display: none;
}

.burger svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

@media (max-width: 575px) {
  .burger {
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
  }
}

.menu {
  display: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    left: -100%;
  }
}

.menu.open {
  left: 0;
}

.menu .closeMenu {
  position: absolute;
  top: 10px;
  left: 15px;
}

.menu .closeMenu svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .nav__item {
  padding: 25px 0;
}
/*# sourceMappingURL=index.css.map */